.catalog.row-fluid [class*="span"]:first-child {
  margin-left: 8px;
}

.catalog.row-fluid [class*="span"]:last-child {
  margin-right: 8px;
}

.catalog .product {
	margin: 25px 8px;
}

.catalog .product .details {
	background-color: #eee;
  border: 1px solid #eee;
  width: 100%; 
}
