<div class="pull-right notifications" ng-controller="NotificationsCtrl">
  <div class="dropdown" ng-init="isOpen = false">
    <button class="btn dropdown-toggle" ng-class="{ active: isOpen }" ng-click="isOpen = !isOpen">
      <div class="badge"
           ng-class="{ 'badge-important': notifications.length }">{{ notifications.length }}</div>
    </button>
    <ul class="dropdown-menu">
      <li ng-repeat="notification in notifications">
        <a href="{{ notification.url }}">{{ notification.message }}</a>
      </li>
      <li class="divider"></li>
      <li class="dropdown-actions">
        <button class="btn"
                ng-click="clear()"
                ng-disabled="!notifications.length">Vider</button>
      </li>
    </ul>
  </div>
</div>
