<div class="row-fluid product">
  <div ng-include="'partials/suggested-products.html'"></div>

  <div class="span12">
    <div class="span4">
      <img ng-src="/images/{{ product.imageUrl }}" alt="{{ product.name }}" />
    </div>

    <div class="span8">
      <h2>
        {{ product.name }}
      </h2>
      <p>
        {{ product.description }}
      </p>
      <p>
        Prix : {{ product.price }} €
      </p>
      <form name="productForm">
        <div>
          Taille :
          <span class="badge size" ng-repeat="size in product.sizes">
            <input type="radio"
                   name="sizeInput"
                   ng-model="$parent.selectedSize"
                   value="{{ size }}" /> {{ size }}
          </span>
        </div>
        <div ng-switch on="product.stock">
          <button class="btn btn-primary" ng-switch-default ng-click="addToCart()">Ajouter</button>

          <div ng-switch-when="0" ng-init="subscribed = false">
            <button class="btn"
                    ng-click="subscribeToAvailability(); subscribed = true"
                    ng-disabled="subscribed">Me prévenir</button>
            <i class="icon-ok" ng-show="subscribed"></i>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
